body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    overflow: auto;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    font-family: sans-serif;
}

button,
input,
select,
a,
i,
textarea,
.fa {
    outline: none !important;
    transition: all 0.3s;
}

.light {
    background-color: $light-bg !important;
}

.dark {
    background-color: $dark !important;
}

.container {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    height: 100%;
    margin: 125px auto 25px;

    @media screen and (min-width: 768px) {
        width: 85%;
    }

    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 25px;

        &:last-child {
            border-bottom: none !important;
        }

        @media screen and (min-width: 768px) {
            flex-wrap: nowrap;
        }

        .shape {
            min-width: 100px;
        }
    }

    p {
        position: absolute;
        top: 0;
        margin: 15px auto;
        font-size: 22px;
    }

    label {
        position: relative;
    }
}

.rounded {
    border-radius: 20px !important;
}

.round,
.circle {
    border-radius: 50% !important;
}

.shape {
    margin: 0 25px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    font-size: 50px;

    .title {
        font-size: 10px;
    }
}

.fa {
    display: inline-block;
    text-rendering: auto;
    text-decoration: none;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

header {
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    nav {
        margin: 25px auto 25px 25px;

        #trigger {
            position: absolute;
            top: 25px;
            right: 25px;
            width: 40px;
            height: 40px;
            margin: 0;
            border: none;
            cursor: pointer;

            .fa {
                font-size: 24px;
                transform: rotate(75deg);
            }
        }

        label {
            .fa {
                position: relative;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                margin: 0;
                font-size: 16px;
                border-radius: 50%;
                cursor: pointer;

                @media screen and (min-width: 768px) {
                    margin: 0 10px;
                }
            }

            input {
                appearance: none;
                -webkit-appearance: none;
            }
        }
    }

    @media screen and (min-width: 768px) {
        justify-content: center;

        nav {
            margin: 25px auto;
        }
    }
}

footer {
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;

    a {
        text-decoration: none;
        margin: 0 auto;
    }
}
