// colors
$dark:           #263238;
$light:          #eceff1;
$light-bg:       #cfd8dc;
$nav-light:      #0091ea;
$nav-dark:       #00fff1;

// border-radius
$square:            0;
$round:             50%;
$rounded:           20px;

// shadow width
$shadow-width: 20px;
$shadow-offset-x: 10px;
$shadow-offset-y: -10px;
