.light {
	p {
		color: $dark;
	}

	.shape {
		background: $light;
		color: $nav-light;
	}

	.nw {
		.shape {
			&-default {
				@extend %nw-light;
			}
	
			&-focused {
				@extend %nw-light-focused;
			}
	
			&-active {
				@extend %nw-light-active;
			}
	
			&-disabled {
				@extend %nw-light-disabled;
			}
		}
	}

	.ne {
		.shape {
			&-default {
				@extend %ne-light;
			}
	
			&-focused {
				@extend %ne-light-focused;
			}
	
			&-active {
				@extend %ne-light-active;
			}
	
			&-disabled {
				@extend %ne-light-disabled;
			}
		}
	}

	.sw {
		.shape {
			&-default {
				@extend %sw-light;
			}
	
			&-focused {
				@extend %sw-light-focused;
			}
	
			&-active {
				@extend %sw-light-active;
			}
	
			&-disabled {
				@extend %sw-light-disabled;
			}
		}
	}

	.se {
		.shape {
			&-default {
				@extend %se-light;
			}
	
			&-focused {
				@extend %se-light-focused;
			}
	
			&-active {
				@extend %se-light-active;
			}
	
			&-disabled {
				@extend %se-light-disabled;
			}
		}	
	}

	.absolute {

		nav {
			button {
				@extend %nw-light;

				color: $nav-light;

				&:hover {
					@extend %nw-light-focused;
				}
			}

			label {
				.fa {
					@extend %nw-light;

					background-color: $light;
					color: $nav-light;

					&:hover {
						@extend %nw-light-focused;
					}
				}

				input {
					&:checked ~ .fa {
						@extend %nw-light-active;

						color: $nav-light;
					}
				}
			}
		}
	}

	.container {
		.row {
			border-bottom: 1px dashed $box-shadow-light;
		}
	}

	footer {
		a {
			color: $nav-light;

			&:hover {
				color: $nav-light-hover;

				svg {
					fill: $nav-light-hover;
				}
			}

			svg {
				fill: $nav-light;
			}
		}
	}
}
