// -----LIGHT------
// ----default-----

%nw-light {
    box-shadow: $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-light-nw,
        $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-light-inset;
}

%ne-light {
    box-shadow: $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-light,
        $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-light-inset;
}

%sw-light {
    box-shadow: $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-light,
        $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-light-inset;
}

%se-light {
    box-shadow: $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-light,
        $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-light-inset;
}

// -----LIGHT------
// ----active-----
%nw-light-active {
    box-shadow: inset $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-light-nw,
        inset $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-light-inset;
}

%ne-light-active {
    box-shadow: inset $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-light,
        inset $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-light-inset;
}

%sw-light-active {
    box-shadow: inset $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-light,
        inset $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-light-inset;
}

%se-light-active {
    box-shadow: inset $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-light,
        $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-light-inset;
}

// -----LIGHT------
// ----focused----
%nw-light-focused {
    background: linear-gradient(145deg, $gradient-light-focused-from, $gradient-light-focused-to);
    box-shadow: $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-light-nw,
        $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-light-inset;
}

%ne-light-focused {
    background: linear-gradient(225deg, $gradient-light-focused-from, $gradient-light-focused-to);
    box-shadow: $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-light,
        $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-light-inset;
}

%sw-light-focused {
    background: linear-gradient(45deg, $gradient-light-focused-from, $gradient-light-focused-to);
    box-shadow: $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-light,
        $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-light-inset;
}

%se-light-focused {
    background: linear-gradient(315deg, $gradient-light-focused-from, $gradient-light-focused-to);
    box-shadow: $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-light,
        $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-light-inset;
}

// -----LIGHT------
// ---disabled----
%nw-light-disabled {
    background: linear-gradient(145deg, $gradient-light-disabled-from, $gradient-light-disabled-to);
    box-shadow: $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-light-nw,
        $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-light-inset;
}

%ne-light-disabled {
    background: linear-gradient(225deg, $gradient-light-disabled-from, $gradient-light-disabled-to);
    box-shadow: $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-light,
        $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-light-inset;
}

%sw-light-disabled {
    background: linear-gradient(45deg, $gradient-light-disabled-from, $gradient-light-disabled-to);
    box-shadow: $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-light,
        $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-light-inset;
}

%se-light-disabled {
    background: linear-gradient(315deg, $gradient-light-disabled-from, $gradient-light-disabled-to);
    box-shadow: $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-light,
        $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-light-inset;
}

// ------DARK------
// ----default-----
%nw-dark {
    box-shadow: $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-darkest,
        $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-nw;
}

%ne-dark {
    box-shadow: $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-dark,
        $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-inset;
}

%sw-dark {
    box-shadow: $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-dark,
        $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-inset;
}

%se-dark {
    box-shadow: $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-dark,
        $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-inset;
}

// ------DARK------
// ----active-----
%nw-dark-active {
    box-shadow: inset $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-darkest,
        inset $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-inset;
}

%ne-dark-active {
    box-shadow: inset $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-dark,
        inset $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-inset;
}

%sw-dark-active {
    box-shadow: inset $shadow-offset-x $shadow-offset-y $shadow-width$box-shadow-dark,
        inset $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-inset;
}

%se-dark-active {
    box-shadow: inset $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-dark,
        inset $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-inset;
}

// ------DARK------
// ----focused----
%nw-dark-focused {
    background: linear-gradient(145deg, $gradient-dark-focused-from, $gradient-dark-focused-to);
    box-shadow: $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-darkest,
        $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-nw;
}

%ne-dark-focused {
    background: linear-gradient(225deg, $gradient-dark-focused-from, $gradient-dark-focused-to);
    box-shadow: $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-dark,
        $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-inset;
}

%sw-dark-focused {
    background: linear-gradient(45deg, $gradient-dark-focused-from, $gradient-dark-focused-to);
    box-shadow: $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-dark,
        $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-inset;
}

%se-dark-focused {
    background: linear-gradient(315deg, $gradient-dark-focused-from, $gradient-dark-focused-to);
    box-shadow: $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-dark,
        $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-inset;
}

// ------DARK------
// ---disabled----
%nw-dark-disabled {
    background: linear-gradient(145deg, $gradient-dark-focused-to, $gradient-dark-focused-from);
    box-shadow: $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-darkest,
        $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-nw;
}

%ne-dark-disabled {
    background: linear-gradient(225deg, $gradient-dark-focused-to, $gradient-dark-focused-from);
    box-shadow: $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-dark,
        $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-inset;
}

%sw-dark-disabled {
    background: linear-gradient(45deg, $gradient-dark-focused-to, $gradient-dark-focused-from);
    box-shadow: $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-dark,
        $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-inset;
}

%se-dark-disabled {
    background: linear-gradient(315deg, $gradient-dark-focused-to, $gradient-dark-focused-from);
    box-shadow: $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-dark,
        $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-inset;
}
