:root {
    // colors
    --dark: #263238;
    --grey: #cfd8dc;
    --light: #eceff1;
    --color-white: #ffffff;
    --primary: #0091ea;
    --primary-hover: #009fff;
    --nav-dark: #00fff1;
    --nav-dark-hover: #00ccc1;
    --gradient-disabled-from: var(--gradient-focused-to);
    --gradient-disabled-to: var(--gradient-focused-from);
    --lamp-light: #fcf494;
    --transparent: rgba(255, 255, 255, 0);
}
