// colors
$dark: #263238;
$light: #eceff1;
$light-bg: $light; // #cfd8dc
$nav-light: #0091ea;
$nav-light-hover: #009fff;
$nav-dark: #00fff1;
$nav-dark-hover: #00ccc1;

// light
// box shadows
$box-shadow-light: #c9cbcd;
$box-shadow-nw: #a3a5a6;
$box-shadow-inset: #ffffff;

// background linear gradients
$gradient-focused-from: #d4d7d9;
$gradient-focused-to: #fdffff;
$gradient-disabled-from: $gradient-focused-to;
$gradient-disabled-to: $gradient-focused-from;

// dark
// box shadows
$box-shadow-darkest: #161e21;
$box-shadow-dark: #202b30;
$box-shadow-inset: #2c3a40;
$box-shadow-nw: #36474f;

// background linear gradients
$gradient-dark-focused-from: #222d32;
$gradient-dark-focused-to: #29363c;

// shadows width
$shadow-width: 10px;
$shadow-offset-x: 5px;
$shadow-offset-y: -5px;

// border-radius
$square: 0;
$round: 50%;
$rounded: 20px;

// ----default-----

%nw {
    box-shadow:
        $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-nw,
        $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-inset;
}

// %ne {
//     box-shadow: $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-light,
//         $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-inset;
// }

// %sw {
//     box-shadow: $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-light,
//         $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-inset;
// }

// %se {
//     box-shadow: $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-light,
//         $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-inset;
// }

// ----active-----
%nw-active {
    box-shadow:
        inset $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-nw,
        inset $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-inset;
}

// %ne-active {
//     box-shadow: inset $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-light,
//         inset $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-inset;
// }

// %sw-active {
//     box-shadow: inset $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-light,
//         inset $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-inset;
// }

// %se-active {
//     box-shadow: inset $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-light,
//         $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-inset;
// }

// ----focused----
// %nw-focused {
//     background: linear-gradient(145deg, $gradient-focused-from, $gradient-focused-to);
//     box-shadow: $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-nw,
//         $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-inset;
// }

// %ne-focused {
//     background: linear-gradient(225deg, $gradient-focused-from, $gradient-focused-to);
//     box-shadow: $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-light,
//         $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-inset;
// }

// %sw-focused {
//     background: linear-gradient(45deg, $gradient-focused-from, $gradient-focused-to);
//     box-shadow: $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-light,
//         $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-inset;
// }

// %se-focused {
//     background: linear-gradient(315deg, $gradient-focused-from, $gradient-focused-to);
//     box-shadow: $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-light,
//         $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-inset;
// }

// ---disabled----
%nw-disabled {
    background: linear-gradient(145deg, $gradient-disabled-from, $gradient-disabled-to);
    box-shadow:
        $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-nw,
        $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-inset;
}

// %ne-disabled {
//     background: linear-gradient(225deg, $gradient-disabled-from, $gradient-disabled-to);
//     box-shadow: $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-light,
//         $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-inset;
// }

// %sw-disabled {
//     background: linear-gradient(45deg, $gradient-disabled-from, $gradient-disabled-to);
//     box-shadow: $shadow-offset-x $shadow-offset-y $shadow-width $box-shadow-light,
//         $shadow-offset-y $shadow-offset-x $shadow-width $box-shadow-inset;
// }

// %se-disabled {
//     background: linear-gradient(315deg, $gradient-disabled-from, $gradient-disabled-to);
//     box-shadow: $shadow-offset-y $shadow-offset-y $shadow-width $box-shadow-light,
//         $shadow-offset-x $shadow-offset-x $shadow-width $box-shadow-inset;
// }
